/* @tailwind base; */
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px; background: #ccc;
    font-family: 'Inter', serif;
}

html, body {
    width: 100%; height: 100%;
    padding: 0; margin: 0;
}

main {
    background-image: url("https://vaelvict.us/img/bg-min.png"); // TODO: get better build process (RollupOptions); could not simply /img/bg-min.png
}

ul {
    margin: 0px;
    padding-left: 20px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card_txt {
    display: grid;
    justify-content: start; align-content: center;
}

/* Grid Bubbles */
.grid-bubbles {
    grid-template-columns: repeat(auto-fill, 100%);
    /* grid-gap: 10px 15px; */
}

/* Connect */
.connect_border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    &:last-child {
        border-bottom: none;
    }
}

@media only screen and (min-width: 768px) {
    ul {
        padding-left: 30px;
    }
}