/* @tailwind base; */
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px; background: #ddd;
    font-family: 'Inter', serif;
}

body {
    padding: 0; margin: 0;
}

.card_txt {
    display: grid;
    justify-content: start; align-content: center;
}

/* Grid Bubbles */
.grid-bubbles {
    grid-template-columns: repeat(auto-fill, 100%);
    /* grid-gap: 10px 15px; */
}
