/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Merriweather', serif;
}

body {
    padding: 0; margin: 0;
}

.card_txt {
    display: grid;
    justify-content: start; align-content: center;
}

/* Grid Bubbles */
.grid-bubbles {
    grid-template-columns: repeat(auto-fill, 48%); grid-gap: 10% 2%;
}
