# enable symlinks for mod_rewrite (required on some hosts)
Options +FollowSymLinks

# block HTTP access to secrets.php
<Files "secrets.php">
    Require all denied
</Files>

# block HTTP access to storage directory
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^blog/post/([^/]+)/?$ /blog/post.php?slug=$1 [L,QSA]
    RewriteRule ^storage/ - [F,L]
</IfModule>

# BROWSER CACHING USING CACHE-CONTROL HEADERS
<IfModule mod_headers.c> 
    # One year for image and video files
    <filesMatch ".(gif|ico|jpg|jpeg|mp4|mpeg|png|svg)$">
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>
</IfModule>
