/* @tailwind base; */
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    background: #bbb;
    font-family: 'Inter', serif;
}

body {
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2274%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='url(%23SvgjsLinearGradient2275)'%3e%3c/rect%3e%3cpath d='M1440 0L921.05 0L1440 37.7z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M921.05 0L1440 37.7L1440 439.21999999999997L806.4499999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M806.4499999999999 0L1440 439.21999999999997L1440 588.12L470.69999999999993 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M470.69999999999993 0L1440 588.12L1440 736.38L363.5299999999999 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 800L430.89 800L0 712.03z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 712.03L430.89 800L737.47 800L0 604.04z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 604.04L737.47 800L1155.23 800L0 233.71999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 233.72000000000003L1155.23 800L1274.33 800L0 122.65000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2274'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='11.11%25' y1='120%25' x2='88.89%25' y2='-20%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2275'%3e%3cstop stop-color='rgba(147%2c 147%2c 147%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(246%2c 246%2c 246%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

html, body {
    width: 100%; height: 100%;
    padding: 0; margin: 0;
}

ul {
    margin: 0px;
    padding-left: 20px;
}


/* Subtitle, animations */
#vael_victus_subtitle {
    display: flex;
    justify-content: space-evenly;
}

#vael_victus_subtitle img {
    width: 20px; height: 20px;
    vertical-align: middle;
}

#vael_victus_subtitle span {
    opacity: 0; font-size: 17px;
}

.fadeIn { 
    transition: opacity 2s;
    opacity: 1 !important;
}

/* Grid Bubbles */
.grid-bubbles {
    grid-template-columns: repeat(auto-fill, 100%);
}

/* Sections */

section {
    opacity: 0;
    background: white;
}

.section_header h2 {
    font-size: 22px;
    padding-bottom: 5px;
}

#about_header {
    color: rgb(0, 56, 105);
}

#about_header h2 {
    border-bottom: 3px solid rgb(0, 56, 105);
}

#work_header {
    color: rgb(116, 17, 2);
}

#work_header h2 {
    border-bottom: 3px solid rgb(116, 17, 2);
}

#connect_header {
    color: rgb(44, 82, 0);
}

#connect_header h2 {
    border-bottom: 3px solid rgb(44, 82, 0);
}

/* Connect */
.card {
    display: flex;
    flex-direction: column;
}

.card_txt {
    display: grid;
    justify-content: start; align-content: center;
}


.connect_border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.connect_border:last-child {
    border-bottom: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    #vv {
        background: #fff; /* radial-gradient(circle, rgba(240,240,240,1) 5%, rgba(226,226,226,1) 95%); */
    }
}

/* "Desktop" */
@media only screen and (min-width: 768px) {
    section {
        box-shadow: 0px 0px 3px rgb(11 11 11 / 60%);
    }

    ul {
        padding-left: 30px;
    }

    .grid-bubbles {
        grid-template-columns: repeat(auto-fill, 25%);
        /* grid-gap: 10px 15px; */
    }
}